.div-main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.div-header{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#005931,#061d14);
}

.title{
  font-size: 200%;
}

.buttons-header{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.button-header{
  width: 120px;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  margin-left: 10px;
  font-size: 100%;
  font-weight: bolder;
  cursor: pointer;
}

.button-header:hover{
  background-color: #0fd47c;
}

.div-max-width{
  width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

.logo-image{
  width: 10%;
  height: 100%;
}

.div-body{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1px;
  background: linear-gradient(135deg,#005931,#061d14);
}

.div-body-division{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
}

.div-body-division-text{
  width: 90%;
  height: 30%;
  clear: both;
  font-size: 300%;
  font-family: sans-serif;
  color: #0fd47c;
}

.font-white{
  color: white;
}

.font-black{
  width: 70%;
  color: black;
  margin-top: 20%;
  font-weight: bolder;
  font-size: 150%;
  height: 15%;
  text-align: center;
}

.div-body-division-subititle{
  width: 90%;
  height: 30%;
}

.div-body-division-image{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.div-modal{
  width: 70%;
  height: 90%;
  background-color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.description-text-modal{
  color: black;
  width: 70%;
  text-align: center;
  margin-top: 10px;
}

.label-text-modal{
  color: black;
  width: 70%;
  margin-top: 20%;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
}

.input-consumo{
  width: 60%;
  margin-top: 5%;
  height: 5%;
  border: 0.5px solid #0fd47c;
  border-radius: 10px;
  text-align: center;
}

.button-consumo{
  width: 60%;
  margin-top: 5%;
  height: 5%;
  border: none;
  background-color: #0fd47c;
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.button-consumo:hover{
  background-color: #061d14;
}

.div-footer{
  width: 100%;
  height: 15%;
  margin-top: 1px;
  background: linear-gradient(135deg,#005931,#061d14);
}